body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.bw-mode {
    background-color: #212529;
    color: aliceblue;
}

body:not(.bw-mode) {
    background-color: white;
    color: #333333;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
}

/* Section Styles */
section {
    padding: 40px;
    text-align: center;
}

    section h2 {
        margin-bottom: 20px;
    }


.external-login {
    display: none;
}


/* NAV BAR */
.Navbar-titulo {
    margin-left: 23px;
    color: black;
}

.nav-link {
    color: #8F8282;
    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
    margin-right:auto;
}

    .nav-link:hover {
        color: #AA8484;
        border-bottom: 7px solid #D9D9D9;
    }

    .nav-link.active {
        color: #AA8484;
        border-bottom: 7px solid #D9D9D9;
    }

@media screen and (max-width: 920px) {
    .navbar-collapse {
        background-color: #fff;
        border: 1px solid #ddd;
        border-top: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
        justify-content: center; /* Center the items vertically */
    }
}


/* Create Petition */
.container {
    margin-top: 50px;
}

.petition-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    resize: both;
    overflow: auto;
    width: 438px;
    height: 484px;
}

.form-group {
    margin-top: 23px;
    margin-bottom: 40px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
    margin-top: 5%;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.bw-mode .petition-details {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}



/* All Petitions */
allbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

allmain {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}


/*Search Bar*/
.search-bar{
    margin-bottom:92px;
}

/*All Petitions*/

.petition-item {
     /* Initial height */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: min-height 0.3s ease;
}



.petition-item:hover {
    min-height: 400px; /* Expanded height when hovered */
}

    /*Fixed Image issue*/
    .petition-item .Image {
        margin-top: 23px;
        margin-bottom: 23px;
    }
    .petition-item .Image img {

         width: 450px; /* Sets width to auto to adjust based on original dimensions */
         max-width: 100%; /* Sets maximum width to prevent images from exceeding their container */
         height: auto; /* Ensure the aspect ratio of the images is maintained */
         object-fit: cover; /* This property ensures the image covers the area without stretching. */
    }


    .petition-item .PetitionTitle {
        position: relative;
        font-size: 23px;
        padding: 10px;
        margin-bottom: 23px;
    }

.PetitionTitle a {
    color: inherit; /* Inherit the color from the parent */
}

.bw-mode .PetitionTitle a {
    color: white; 
}

    .bw-mode .PetitionTitle a:hover {
        color: white;
    }


.petition-item .Description {
    flex: 1; /* Allow the description to take up the remaining space */
    opacity: 0; /* Initially hide the description */
    transition: opacity 0.3s ease;
    max-height: 0; /* Initially hide the description */
    text-align: center; 
    margin-left: 5%;
    margin-right: 5%;
}

    .petition-item:hover .Description {
        text-align: center; /* Center the text within the description */
        opacity: 1; /* Reveal the description when the petition item is hovered */
        max-height: 100%; /* Expand the description height */
    }

    /*Number of votes*/
    .petition-item .VoteYes {
        position: relative;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 23px;
        margin-bottom: 23px;
        
     
    }

.LikeButton {
    background-color: blanchedalmond;
}

.bw-mode .petition-item .VoteYes {
    color: white;
}

/*When voted*/
.petition-item .VoteYes .Yes {
    width: 35px;
    height: 38.5px;
    background: green;
    border: 1px solid rgba(0, 87, 19, 0.64);
    border-radius: 4px;
}



    .petition-item .ShareButton {
        background-color: darkslategrey;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

.petition-item .CommentButton {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 23px;
    margin-bottom: 23px;
}


    /*Admin Delete Petition Btn */

    .petition-item .DeleteButton {
        top: 23px;
        right: 190px;
        background-color: #dc3545;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 23px;
        margin-bottom: 23px;
    }

.petition-item .DeleteButton:hover {
     background-color: #c82333;
}




/* Footer Styles */

.plfooter {
    position: center;
    text-align: center;
    margin-top: 35%;
}
.cfooter {
    position: center;
    text-align: center;
    margin-top: 38%;
}


.apfooter {
    position: center;
    text-align: center;
    margin-top: 23%;
}

.contactfooter {
    position: center;
    text-align: center;
    margin-top: 26%;
}


/*Admin User footer*/
.adfooter {
    position: center;
    text-align: center;
    margin-top: 38%;
}


/* Media Queries */
@media screen and (max-width: 768px) {
    .petition-form {
        width: auto;
    }

    .petition-item {
        width: auto;
    }
}


/*Admin Panel*/



.bw-mode th,
.bw-mode td {
    padding: 8px;
    text-align: center; /* Align text to center */
    gap: 10px;
    background-color: dimgrey;
    color: aliceblue;
}

.bw-mode th {
    text-align: center; /* Align text to center */
}

.bw-mode tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Table Styles */
.table-wrapper {
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Ensure the table wrapper doesn't exceed the viewport width */
    justify-content:center;
}

.table {
    width: max-content; /* Set table width to fit its content */
    border-collapse: collapse;
    border-radius: 8px;
}

    .table th,
    .table td {
        padding: 10px;
        white-space: nowrap; /* Prevent line breaks in table cells */
        text-overflow: ellipsis; /* Add ellipsis for long content */
        overflow: hidden;
    }

    .table th {
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
        text-align: center;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

/* Color of Link text */
.table-wrapper table td a {
    color: black;
}



/* Button Styles */
.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

    .btn-success:hover {
        background-color: #218838;
    }

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

    .btn-danger:hover {
        background-color: #c82333;
    }

.btn-info {
    background-color: #17a2b8;
    color: #fff;
}

    .btn-info:hover {
        background-color: #138496;
    }

.ViewPetitionButton {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .ViewPetitionButton:hover {
        background-color: #0056b3;
    }


/*Filter Petition List Panel*/
.filter-wrapper{
    margin-bottom:5%;
}



/* Comments Section */
.commentsSection {
    margin-right:13%;
    margin-left:13%;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: none; /* hides it*/
}

.comment {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

    .comment p {
        margin: 0 0 10px 0;
        color: #333;
        font-size: 16px;
    }

    .comment small {
        font-size: 14px;
        color: #666;
    }


.toggleCommentsButton {
    background-color: lightblue; 
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px; 
    font-size: 16px;
}

.toggleCommentsButton:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}


#shareModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: dimgrey;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 1000; 

}




/*Login Section*/

.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.card {
    background-color: #f7f7f7;
    border: none;
}

.form-control {
    border-radius: 0.25rem;
    padding: 1rem;
    font-size: 16px;
}

.btn-primary {
    padding: 10px;
    font-size: 18px;
    background-color: #0056b3;
    border: none;
    border-radius: 0.25rem;
}

    .btn-primary:hover {
        background-color: #004494;
    }

.card-title {
    font-size: 24px;
}
