
/* General Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bw-mode {
    background-color: #29272d;
    color: aliceblue;
}

body:not(.bw-mode) {
    background-color: #fcfdfe;
    color: #333333;
}

/* NAV BAR */
.Navbar {
    position: absolute;
    height: 40px;
    display: flex; /*Makes it horizonatlly the links menu*/
    margin-left: 45%;
}

.Navbar-titulo {
    position: absolute;
    margin-left: 32px;
    color: black;
}

.nav-link {
    color: #8F8282;
    display: flex;
    font-size: 15px;
    font-family: Inter;
    word-wrap: break-word;
    text-decoration: none;
    overflow: auto;
}

    .nav-link:hover {
        color: #AA8484;
        border-bottom: 7px solid #D9D9D9;
    }

    .nav-link.active {
        color: #AA8484;
        border-bottom: 7px solid #D9D9D9;
    }


@media screen and (max-width: 992px) {

    .nav-link {
        color: #8F8282;
        display: flex;
        font-size: 15px;
        font-family: Inter;
        word-wrap: break-word;
        text-decoration: none;
        overflow: auto;
        margin-top: 23%;
    }

    .navbar-collapse {
        max-height: 100vh;
        overflow-y: auto;
    }

    .navbar-nav {
        flex-direction: column;
        overflow-x: hidden;
    }

        .navbar-nav .nav-item {
            display: block;
        }
}

/* Create Petition */
.container {
    margin-top: 50px;
}

.petition-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    resize: both;
    overflow: auto;
    width: 438px;
    height: 484px;
}

.form-group {
    margin-top: 23px;
    margin-bottom: 40px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
    margin-top: 5%;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.bw-mode .petition-details {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

/* All Petitions */
allbody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

allmain {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}



/*All Petitions*/

.petition-item {
    min-height: 593px; /* Initial height */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: min-height 0.3s ease;
}

    .petition-item:hover {
        min-height: 400px; /* Expanded height when hovered */
    }

    .petition-item .Image {
        position: revert-layer;
        margin-top: 23px;
        margin-bottom: 23px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .petition-item .PetitionTitle {
        position: relative;
        font-size: 23px;
        padding: 10px;
        margin-bottom: 23px;
    }

    .petition-item .Description {
        flex: 1; /* Allow the description to take up the remaining space */
        opacity: 0; /* Initially hide the description */
        transition: opacity 0.3s ease;
        max-height: 0; /* Initially hide the description */
        transition: max-height 0.3s ease; /* Add transition for smooth animation */
        text-align: center; /* Center the text within the description */
        margin-left: 25%;
        margin-right: 25%;
    }

    .petition-item:hover .Description {
        text-align: center; /* Center the text within the description */
        opacity: 1; /* Reveal the description when the petition item is hovered */
        max-height: 100%; /* Expand the description height */
    }

    .petition-item .VoteYes {
        position: relative;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 23px;
        margin-bottom: 23px;
    }

        /*When voted*/
        .petition-item .VoteYes .Yes {
            width: 35px;
            height: 38.5px;
            background: rgba(0, 154, 15, 0.47);
            border: 1px solid rgba(0, 87, 19, 0.64);
            border-radius: 4px;
        }



    .petition-item .ShareButton {
        background-color: darkslategrey;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /*Admin Delete Petition Btn */

    .petition-item .DeleteButton {
        top: 23px;
        right: 190px;
        padding: 5px 10px;
        background-color: #dc3545;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 23px;
        margin-bottom: 23px;
    }

        .petition-item .DeleteButton:hover {
            background-color: #c82333;
        }



/* Footer Styles */


.cfooter {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 17%;
}



.apfooter {
    position: relative;
    margin-left: 42%;
    margin-top: 23%;
}

.contactfooter {
    position: relative;
    position: relative;
    margin-top: 32%;
}





/* Media Queries */
@media screen and (max-width: 768px) {
    .petition-form {
        width: auto;
    }

    .petition-item {
        width: auto;
    }
}


/*Admin Panel*/



.bw-mode th,
.bw-mode td {
    padding: 8px;
    text-align: center; /* Align text to center */
    gap: 10px;
    background-color: dimgrey;
    color: aliceblue;
}

.bw-mode th {
    text-align: center; /* Align text to center */
}

.bw-mode tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.table {
    height: auto;
    width: auto; 
    margin: 0 auto; /* Center the table horizontally */
}
