@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            3 Lothian Road,<br />
            Edinburgh, EH2 1FR.<br />
            <abbr title="Phone">Phone Number:</abbr>
            07954628935
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">support@iPétition.com</a><br />
        </address>
    </main>

 
</body>

<footer class="contactfooter">
    &copy; 2024 - iPétition - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</footer>


</html>
