@model List<string>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iPetition - Create a New Petition</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container text-center">
        <h2 style="margin-bottom:5%">Create a petition</h2>
       
        @if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("user")))
        {

            <form asp-action="Create" method="post" enctype="multipart/form-data">
            
 
                <div class="form-group">
                    <small class="text-muted">Title</small>
                    <input type="text" name="Title" class="form-control" required>
                </div>

                <div class="form-group">

                    <small class="text-muted">Description</small>
                    <textarea name="Description" class="form-control" required></textarea>
                </div> 
                <div class="form-group">
                    <small class="text-muted">Image</small>
                    <input type="file" name="image" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Create Petition</button>

            </form>

        }
        else
        {
            <p>Please <a href="@Url.Action("Login", "Home")">log in</a> to create a petition.</p>
        }


    </div>


</body>


<footer class="cfooter">

    &copy; 2024 - iPétition - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</footer>



<script src="~/js/site.js"></script>
</html>
