@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isAdmin = User.IsInRole("admin");
}
@model Tuple<List<DFW_CW_40452913.Data.Petition>, List<DFW_CW_40452913.Data.Comment>>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - iPétition</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <style>
        .petitions-container {
            margin-top: 2%;
            display: flex;
            overflow-x: auto;
            padding: 20px 0;
            gap: 20px;
        }

        .petition-item {
            margin-top: 2%;
            margin-left: 6%;
            width: 300px;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

            .petition-item:hover {
                transform: scale(1.1); /* Increase size on hover */
            }

        .petition-image {
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Welcome to iPétition</h1>
        <p>iPétition is a platform where you can create, sign, and share petitions on various causes and issues that matter to you.</p>
    </header>

    <main aria-labelledby="title">


        <div class="petitions-container">
            @foreach (var petition in Model.Item1) 
            {
                <div class="petition-item">
                    <div class="Image">
                        <img src="@petition.ImageUrl" alt="Petition Image" class="petition-image" />
                    </div>
                    <div class="PetitionTitle">
                        <a href="/Home/About#@petition.Id">@petition.Title</a>
                    </div>
                </div>
            }
        </div>
    </main>

    <footer>
        &copy; 2024 - iPétition - <a href="@Url.Action("Privacy", "Home")">Privacy</a>
    </footer>
</body>
</html>
